@media (max-width: 768px) {
  /* BANNER */

  img {
    height: 100vh;
    object-fit: cover;
  }
  #avatar {
    display: none;
  }

  /* JOB INFO */

  #job-info .row {
    width: auto;
  }
  .mt-40 {
    padding-left: 0;
    padding-right: 40px;
  }

  /* CERTIFICATE */

  .cert-img {
    width: 50%;
    height: auto;
    object-fit: contain;
  }
  .cert-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: none;
  }
  .cert-content {
    margin-left: 0;
  }
  .cert-container {
    width: auto;
  }
  .cert-section:nth-child(2) {
    width: auto;
    padding-right: 10px;
  }

  /* PROJECT */

  #project .container {
    margin: 30px 0;
    width: auto;
  }
  #project {
    width: auto;
    padding: 30px;
  }
  .project-img {
    width: 100%;
    height: auto;
    margin: 0;
    border: 1px solid #dee2e6;
    object-fit: cover;
  }
  .content .hobby-icon {
    width: 50px;
    height: 50px;
  }
}
